Django
djangorestframework
django-cors-headers
mysqlclient
Pillow
python-dateutil
openpyxl
reportlab
requests
django-environ
celery
redis

# Extracción de contenido de documentos
PyMuPDF
python-docx

# Reconocimiento facial
opencv-python
numpy
deepface
tf-kerasddd