Django
djangorestframework
django-cors-headers
mysqlclient
Pillow
python-dateutil
openpyxl
reportlab
requests
django-environ
celery
redis

# Reconocimiento facial
opencv-python
numpy
deepface
tf-keras